body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1d2542, #3a3a4b); /* Cambia los colores según tus preferencias */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.left-section {
    background-color: #f1f1f1;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tutor-image {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}

.right-section {
    flex: 2;
    padding: 40px;
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.social-login {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-login button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.social-login button img {
    width: 20px; /* Ajusta este tamaño según tus necesidades */
    height: 20px; /* Ajusta este tamaño según tus necesidades */
    margin-right: 10px; /* Mantén el margen derecho para el espacio entre el icono y el texto */
    vertical-align: middle; /* Alinea verticalmente el icono con el texto */
}

.social-login button:hover {
    background-color: #f1f1f1;
}

.divider {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.divider span {
    margin: 0 10px;
    color: #aaa;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ddd;
}

.login-form {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.login-link {
    text-align: center;
    margin-bottom: 10px;
}

.login-link a {
    color: #007BFF;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.terms {
    text-align: center;
    color: #aaa;
    font-size: 0.8em;
}
